/* 
.addDoor1 > .upload-block {
    height: 30px;
    width: 220px;
}

.addDoor1 > .ant-upload.ant-upload-drag .ant-upload-btn {
    line-height: 0
}

.addDoor1 > .ant-form-item-label {
      display: flex;
      justify-content: flex-end;
      line-height: 16px; 
  }

  .ant-upload-list-item {
    width: 100%;
    font-size: 16px;
}

.addDoor1 > .ant-form-item-label > label {
    white-space: normal;
    text-align: right;
    color: #8a8a8a;
    padding-right: 32px;
    font-size: 14px;
}   

.addDoor1 > .ant-form-item-label > label :after {
    content: none !important;
}

.addDoor1 > .ant-upload-list {
    width: 51%;
    max-height: 6rem;
    overflow: scroll;
    color: #096dd9;
}

.addDoor1 > .image_item {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
}

.addDoor1 > .ant-form-item .ant-upload.ant-upload-drag {
    width: 280px;
} */