.container{
    padding:0px 13%;
}
.left,.right{
    margin: 50px 0px;
}
.left{
    /* width: 300px; */
    float: left;
    width: 40%;
    height:360px;
    position: relative;
    left: 123px;
}
.right{
    float: right;
    width: 50%;
    height:300px;
}
