.projectfrom-form{
    margin-top: 5%;
}
.head-img{
    width: 100px;
    margin: 0 auto;
}
.form-body{
    width: 100%;
    margin: 50px 0 ;
}
.ant-table-container{
    height:400px;
}
