.content{
  margin:50px auto;
  width: 1080px;
  
}
.content-up{
  width: 100%;
  height: 401.200px;
  display: flex;
  justify-content:center; 
  background-color:#fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 10px 10px 18px #888888;
}
.content-upleft{
  width: 70%;
  padding:0 20px
}

.title{
  margin: 10px 0 20px 30px;
  font-size: 34px;
  line-height: 1.5;
  height: 50px;
  font-weight: 700;
  /* text-overflow: ellipsis;*/
  position: relative; 
}

.content-upleft .title span{
  position: absolute;
  top: 0px;
  left: 0px;
}
.imgdiv{
  width:100%
}
.content-upright{
  background-color: #eff7f9;
  border-top: 1px solid #e0e0e0;
}
.content-upright .raise-money {
  padding: 28px 15px 8px 35px;
}
.content-upright .raise-money .text{
  display: block;
}
.content-upright .raise-money  #text{
  font-weight: 400;
    font-size: 16px;
    color: #666;
}


.content-upright .raise-money  #money{
  font-size: 25px;
  color: #00cccf;
  font-weight: 700;
}

.content-upright .raise-money  #tishi{
    color: #999;
    font-size: 14px;
    margin-top: 10px;
}
.content-upright .raise-money  #money-target{
  color: #F00;
}

.content-upright .status {
  padding: 10px 15px 8px 35px;
}

.content-upright .status  .num{
  display: block;
  font-size: 28px;
  font-weight: 600;
}
.content-upright .status  .txt{
  display: block;
  font-size: 18px;
  font-weight: 400;
}
#suport-rightnow-div{
  width:75%;
  margin: 20px auto;
}
#suport-rightnow{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 278px;
  height: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  background-color: #fe645a;
  text-decoration: none;
  margin-bottom: 30px;
  border-bottom: 3px solid #ee514c;
}


.content-down{
  position: relative;
  width: 100%;
  background-color:#fff;
  margin: 4rem auto ;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 10px 20px 40px #888888;
  z-index: 3
}

.content-down .menu{
  
  width: 6rem;
    height: 3rem;
    text-align: center;
    line-height: 2rem;
    position: absolute;
    /* bottom: 2rem; */
    top: -2rem;
    border-radius: 10px;
    background-color: #fff;
    font-size: 17px;
    font-weight: 600;
}


.content-down .detail {
  padding:0.5rem 1rem;
  margin-top: 1rem;
}
.content-down .detail img{
  width:100%;
}