.content{
  margin:0 auto;
  width: 1080px;
  border:1px solid #F00
}
.content-up{
  width: 100%;
  height: 375px;
  display: flex;
  justify-content:center; 
}
.content-upleft{
  width:70%;
}

.title{
  margin: 10px 0 20px 0;
  font-size: 34px;
  line-height: 1.5;
  height: 50px;
  font-weight: 700;
  /* text-overflow: ellipsis;*/
  position: relative; 
}

.content-upleft .title span{
  position: absolute;
  top: 0px;
  left: 0px;
}
.imgdiv{
  width:100%
}

